affine==2.3.1
antlr4-python3-runtime 
appdirs 
area==1.1.1
argon2-cffi 
argon2-cffi-bindings 
arm_pyart==1.11.8
arrow 
asciitree==0.3.3
attrs 
backcall 
basemap 
basemap-data 
basemap-data-hires 
beautifulsoup4 
bleach 
bokeh 
Bottleneck 
brotlipy 
bz2file==0.98
Cartopy 
certifi==2023.7.22
cf-units 
cf-xarray 
cffi 
cfgrib 
cftime 
charset-normalizer 
cinrad==1.8.0
cinrad-data==0.1
click 
click-plugins==1.1.1
cligj==0.7.2
cloudpickle 
colorcet==3.0.0
config==0.5.1
cryptography 
cycler 
Cython==0.29.28
cytoolz==0.11.0
dask==2021.10.0
datashader==0.13.0
datashape==0.5.2
dcor 
debugpy 
decorator 
defusedxml 
dill==0.3.4
distributed 
Django 
djongo 
docxcompose==1.3.5
docxtpl==0.16.4
easydict==1.9
eccodes 
entrypoints 
ESMPy==8.2.0
et-xmlfile==1.1.0
fasteners==0.17.3
fastjsonschema 
findlibs 
Fiona==1.8.21
fonttools==4.29.1
fortranformat==1.2.0
fsspec 
GDAL==3.3.2
geographiclib 
geopandas==0.10.2
geopy 
geoviews==1.9.5
HeapDict 
holoviews==1.14.8
httplib2==0.20.4
hvplot==0.7.3
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib 
jplephem==2.17
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core 
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver 
llvmlite==0.38.0
locket 
lxml==4.9.0
Markdown==3.3.6
MarkupSafe 
matplotlib 
matplotlib-inline 
meteva==1.6.3
MetPy 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
msgpack 
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
nb-conda-kernels 
nbclient 
nbconvert 
nbformat 
ncplot==0.2.0
nctoolkit==0.4.2
nest-asyncio 
netCDF4==1.5.7
nodejs==0.1.1
notebook 
numba 
numcodecs==0.9.1
numexpr 
numpy 
openpyxl 
optional-django==0.1.0
packaging 
pandas==1.3.5
pandocfilters 
panel==0.12.6
param==1.12.0
parso 
partd 
pexpect 
pickleshare 
Pillow==9.0.1
Pint 
plotly==5.15.0
pooch 
prometheus-client 
prompt-toolkit 
protobuf==3.19.4
psutil 
psycopg2==2.9.3
ptvsd==4.3.2
ptyprocess 
py-ncepbufr==1.1.1
pycparser 
pyct==0.4.8
pycwr==0.3.4
Pygments 
pygrib==2.1.4
pymongo==3.12.0
PyMySQL 
pyOpenSSL 
pyparsing 
pyproj 
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent 
pyshp 
PySocks 
python-dateutil 
python-docx==0.8.11
pytz==2021.3
pyviz-comms==2.1.0
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
rasterio==1.2.10
regionmask==0.9.0
reki==0.3.0
requests 
rioxarray==0.9.1
salem==0.3.7
scikit-learn 
scipy 
scitools-iris 
seaborn 
Send2Trash 
sgp4==2.20
Shapely 
siphon==0.9
six 
skyfield==1.42
snuggs==1.4.7
sortedcontainers 
soupsieve 
sparse 
sqlparse==0.2.4
tables==3.7.0
tblib 
tenacity==8.2.2
terminado 
testpath 
threadpoolctl 
toolz 
tornado 
tqdm==4.63.0
traitlets 
typing_extensions 
urllib3 
vanadis==0.0.2
wcwidth 
webencodings==0.5.1
widgetsnbextension 
wrapt 
wrf-python==1.3.4.1
xarray 
xesmf 
xgboost==1.5.1
xgrads==0.1.82
xvortices==0.1.0
xxhash 
zarr==2.11.1
zict==2.0.0
zipp 
